@import url("https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap");

.cover {
  height: 100vh;
}
.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  row-gap: 40px;
  padding: 30px;
  /* background-color: #222223; */
}

.a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: aqua;
}

.text {
  font-family: "Lumanosimo", cursive;
  margin: 50px;
}
