/* @import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap");

:root {
  width: 100%;
  --border-radius: 12px;
  --max-height: 100%;
  font-family: "Lumanosimo", cursive;
  /* --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace; */
  background-image: url("../public/background-text-medium.jpg");

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  /* background-image: linear-gradient(rgb(16, 16, 16), rgb(114, 117, 117)); */
  /* background: center center cover no-repeat fixed; */

  color: rgb(173, 247, 241);
  /* --clr-neon: rgba(235, 97, 143, 1); */
  --clr-neon: rgb(57, 231, 228);
  --clr-bg: rgba(40, 38, 38);
  --clr-white: rgba(255, 255, 255, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Lumanosimo", cursive;
  width: 100%;
  height: 100%;

  /* background-color: linear-gradient(rgb(16, 16, 16), rgb(114, 117, 117)); */
  /* background-size: var(--max-height); */
  /* overflow-x: hidden; */
}

body {
  color: rgb(var(--foreground-rgb));
  height: 100%;
  width: 100%;

  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}
