.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* padding: 3rem; */
  /* height: 100%; */
}

.neonText {
  font-size: 5rem;
  color: rgb(57, 231, 228);
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1vh;
  /* background-color: #222223; */
  /* display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono); */
}
@media screen and (max-width: 900px) {
  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.sec2 {
  display: flex;
  justify-content: space-around;
  column-gap: 50px;
  width: 100%;
  padding: 6vh;
  /* background-color: rgba(40, 38, 38); */
}
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  row-gap: 30px;
}
.image {
  border: solid 4px rgb(57, 231, 228);
  margin-left: 20px;
}

.menu {
  display: flex;
  justify-content: space-around;
  width: 60%;
  row-gap: 100px;
}

.a {
  text-decoration: none;
  font-size: x-large;
  color: rgba(173, 247, 241);
  font-weight: bolder;
}
