.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* padding: 3rem; */
  /* height: 100%; */
}

.neonText {
  font-size: 5rem;
  color: rgb(57, 231, 228);
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1vh;
  /* background-color: #222223; */
  /* display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono); */
}

.sec2 {
  display: flex;
  justify-content: space-around;
  column-gap: 50px;
  width: 100%;
  padding: 6vh;
  /* background-color: rgba(40, 38, 38); */
}
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  row-gap: 30px;
}
.image {
  border: solid 4px rgb(57, 231, 228);
}
.sec3 {
  display: flex;
  flex-direction: column;
  padding: 50px;
}
.port {
  font-size: 10vh;
}

.project {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  justify-content: space-around;
  width: 60%;
  row-gap: 100px;
}

.a {
  text-decoration: none;
  font-size: x-large;
  color: rgba(173, 247, 241);
  font-weight: bolder;
}

/* CSS */
.button91 {
  color: #fff;
  padding: 15px 25px;
  background-color: #38d2d2;
  background-image: radial-gradient(
      93% 87% at 87% 89%,
      rgba(0, 0, 0, 0.23) 0%,
      transparent 86.18%
    ),
    radial-gradient(
      66% 66% at 26% 20%,
      rgba(255, 255, 255, 0.55) 0%,
      rgba(255, 255, 255, 0) 69.79%,
      rgba(255, 255, 255, 0) 100%
    );
  box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25),
    inset 0px 3px 9px rgba(255, 255, 255, 0.3),
    inset 0px 1px 1px rgba(255, 255, 255, 0.6),
    inset 0px -8px 36px rgba(0, 0, 0, 0.3),
    inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  font-weight: bold;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  /* z-index: -1; */
  cursor: pointer;
}

.projectButtons {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding: 20px;
}
